<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Processing App</title>
</head>
<body>

    <script>
        function checkStatus() {
            fetch('/check_status')
                .then(response => response.text())
                .then(data => {
                    document.getElementById('status').innerText = data;
                    if (data === 'Processing video. Please wait...') {
                        setTimeout(checkStatus, 2000); // Периодически проверяйте статус каждые 2 секунды
                    } else {
                        // Если видео обработано, добавьте ссылку для скачивания
                        const downloadLink = document.createElement('a');
                        downloadLink.href = '/download_processed_video';
                        downloadLink.innerHTML = 'Download Processed Video';
                        document.body.appendChild(downloadLink);
                    }
                });
        }

        checkStatus(); // Проверьте статус обработки сразу после загрузки страницы
    </script>
</body>
</html>
